.project
.idea/
*.iml
.metadata
.classpath
.settings/
.loadpath
target/
*~
# ================================================================================
# Dont track the emacs backup files
*\#*
# ====

# maven-release-plugin
pom.xml.releaseBackup
release.properties
dependency-reduced-pom.xml
