[Unit]
Description=takt1 - IRC bot posting titles of urls to the channel
After=syslog.target

[Service]
EnvironmentFile=-/etc/environment
User=takt1
ExecStart=/usr/bin/java -jar /var/www/takt1/takt1.jar
SuccessExitStatus=143
Restart=on-failure

[Install]
WantedBy=multi-user.target
